body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

:root {

  --font-color-header: white;
  --bg-color--header: white;
  --text-secondary: #b0b3b8;

  --color-main-content : white;
  --bg-color-main-content : #18191a;

  --color-footer : white;
  --bg-color-footer : #18191a;

  [theme='light'] {
    --font-color-header: red;
    --bg-color--header: red;
    --text-secondary: #red;
  
    --color-main-content : red;
    --bg-color-main-content : #red;
  
    --color-footer : red;
    --bg-color-footer : red;
  }
}
